/*
Couples Resort Responsive Build
4 column grid as per XD file
 */

/*
    CSS Guide

    1.  General Styles
    2.  Main Nav
    3.  Main Hero Image
    4.  Main Hero Image Contact
    5.  Details & Summary
    6.  Massage Nav
    7.  Massage
    8.  Handfoot
    9.  Scrub
    10. Algonquin
    11. More
    12. Footer
 */

/* 1. General Styles */
#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
}

body {
   color: #626262;
   font-family: 'Sanchez', 'Times New Roman', serif;
}

a {
   text-decoration: none;
   transition: all .5s ease-in-out;
}

input,
textarea {
   display: block;
   margin: 0;
   padding: 0;
}

.cr-red {
   color: #9a2018;
}

.line-separator {
   margin-top: 20px;
   border-top: solid 3px #CF6666;
   padding-top: 20px;
}

/* 2. Main Nav */

#main-nav label img {
   width: 20px;
   height: 20px;
   margin-top: 15px;
   cursor: pointer;
   transition: all .5s ease;
   margin-bottom: 20px;
}

#main-nav input,
#burger-con {
   display: none;
}

/* ~ sibling selector ~ */
#main-nav input:checked~#burger-con {
   display: block;
}

#main-nav input:checked~label img {
   transform: rotate(90deg);
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#main-nav ul li a {
   display: block;
   padding: 10px 0 10px 0;
   text-align: center;
   color: #626262;
}

#main-nav ul li {
   border-bottom: 1px solid #efefef;
}



#main-nav ul li:first-child {
   border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
   margin-bottom: 10px;
}



#logo {
   margin-bottom: 20px;
   max-width: 382px;
}

/* 3. Main Hero Image */

#hero {
   background: url(../images/spa/spa-mobl-hero.png) no-repeat;
   height: 200px;
}

.book-now {
   background-color: #9a2018;
   color: #fff;
   font-size: 16px;
   transition: background-color 500ms linear;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: italic;
   transition: all 0.3s ease;
   cursor: pointer;
}

.book-now:hover {
   background-color: rgb(196, 28, 28);
}

#book-now-hero {
   height: 67px;
}

#hero-heading-box {
   align-self: end;
}

.hero-img-h2,
.hero-img-h3 {
   background: rgb(255, 255, 255);
   padding: 10px 15px;
   font-size: 14px;
}

.hero-img-h2 span,
.hero-img-h3 span {
   color: #9a2018;
   font-size: 12px;
}

#hero-summary {
   margin-bottom: 35px;
}

#hero-summary p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

/* 4. Main Hero Image Contact */
#contact {
   font-size: 11px;
   background-color: #efefef;
   padding-top: 30px;
   padding-bottom: 30px;

}

.fas {
   font-size: 42px;
   color: #9a2018;
   margin: 0 auto;
   float: left;
}

.fa-mobile-alt {
   margin-right: 10px;
   margin-left: 3px;
   margin-bottom: 20px;
}


.fa-map-marker-alt {
   margin-right: 10px;
}

/* 5. Details & Summary */
details {
   border: none;
   padding: 10px 0;
   margin-bottom: 35px;
}

summary {
   background-color: #efefef;
   padding: 10px;
   margin-bottom: 40px;
}

.thin-line-separator {
   border-top: solid 2px #CF6666;
}


details p {
   margin-top: 25px;
   margin-bottom: 0;
   padding-bottom: 0;
}


/* 6. Massage Nav */

#massage-nav {
   padding-top: 20px;
   margin: 30px 0;
}

#massage-nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

#massage-nav ul li {
   margin-bottom: 15px;
}

#massage-nav ul li a {
   Color: inherit;
   padding: 5px;
}

#massage-nav ul li a.selected {
   border-left: #9a2018 solid 5px;
}


.massage-image {
   float: left;
   margin-right: 20px;
   margin-top: 30px;
}

.massage-image-con {
   font-size: 14px;
   margin-bottom: 20px;
   margin-top: 30px;
   ;
}

.massage-image-con p {
   font-size: 12px;
   margin-bottom: 20px;
   line-height: 20px;
}

.massage-image-con a {
   color: #707070;
   font-size: 12px;
}

#massage-bottom-nav {
   background-color: #CF6666;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 30px;
}

#massage-bottom-nav ol {
   list-style-type: none;
   margin: 0 0 0 20px;
   padding: 0;
}

#massage-bottom-nav ol li {
   display: inline;
}

#massage-bottom-nav ol li a {
   padding: 5px;
   color: #fff;
}

/* 7. Massage */
#massage-hero-con {
   background: url(../images/spa/spa-mobl-sec-01.png) no-repeat;
   height: 195px;
}

#massage-heading-box {
   align-self: end;
}


/* 8. Handfoot */
#handfoot-hero-con {
   background: url(../images/spa/spa-mobl-sec-02.png) no-repeat;
   height: 195px;
}

#handfoot-heading-box {
   align-self: end;
}

/* 9. Scrub --- */
#scrub-hero-con {
   background: url(../images/spa/spa-mobl-sec-03.png) no-repeat;
   height: 195px;
}

#scrub-heading-box {
   align-self: end;
}

/* 10. Algonquin */
#algonquin-hero-con {
   background: url(../images/spa/spa-mobl-sec-04.png) no-repeat;
   height: 195px;
}

#algonquin-heading-box {
   align-self: end;
}

/* 11. More */
#award h2 {
   margin: 25px 0;
}

#more-nav {
   padding-top: 20px;
}

#more-nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

#more-nav ul li {
   margin-bottom: 15px;
}

#more-nav ul li a {
   Color: inherit;
   padding: 5px;
}

#more-nav ul li a.selected {
   border-left: #9a2018 solid 5px;
}

#more-hero-con {
   background: url(../images/home/why-choose-us-hero.jpg) no-repeat;
   height: 195px;
}

#more-heading-box {
   align-self: end;
}

.more-image {
   float: left;
   margin-right: 20px;
   margin-top: 30px;
}

.more-image-con {
   font-size: 14px;
   margin-bottom: 20px;
   margin-top: 30px;
   ;
}

.more-image img {
   width: 140px;
   height: 140px;
}

.more-image-con p {
   font-size: 12px;
   margin-bottom: 20px;
   line-height: 20px;
}

.more-image-con a {
   color: #707070;
   font-size: 12px;
}

#more-bottom-nav {
   background-color: #CF6666;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 60px;
}

#more-bottom-nav ol {
   list-style-type: none;
   margin: 0 0 0 20px;
   padding: 0;
}

#more-bottom-nav ol li {
   display: inline;
}

#more-bottom-nav ol li a {
   padding: 5px;
   color: #fff;
}

#moregray {
   background-color: #efefef;
}

.clickmore {
   text-decoration: underline;
}

/* 12. Footer */
#footer-hero {
   background-image: url(../images/home/footer.jpg);
   background-repeat: no-repeat;
   color: #fff;
   font-size: 12px;
   margin-top: 40px;
   padding-bottom: 80px;
}

#footer-hero h3 {
   margin-top: 30px;
   font-size: 28px;
   margin-bottom: 16px;
}

#footer-privacy .line-seperator {
   margin-top: 0px;
}

#footer-contact-info h3 {
   font-size: 23px;
}

#footer-contact-info p {
   margin-bottom: 20px;
   line-height: 18px;
   font-size: 11px;
}